name: Build ImmortalWrt for N1

on:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: true
        default: false
        type: boolean
  workflow_call:
    inputs:
      ssh:
        required: false
        type: boolean
        default: false

jobs:
  build:
    uses: ./.github/workflows/build-openwrt.yml
    with:
      device: N1
      config_dir: armsr/armv8/N1
      diy_script: diy.sh
      release_tag_prefix: OpenWrt_N1
      default_ip: 192.168.2.2
      ssh: ${{ inputs.ssh }}