name: Build ImmortalWrt for K2P

on:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: true
        default: false
        type: boolean
  workflow_call:
    inputs:
      ssh:
        required: false
        type: boolean
        default: false

jobs:
  build:
    uses: ./.github/workflows/build-openwrt.yml
    with:
      device: K2P
      config_dir: ramips/k2p
      diy_script: diy.sh
      release_tag_prefix: OpenWrt_K2P
      default_ip: 192.168.2.1
      ssh: ${{ inputs.ssh }}